<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    </head>

    <body>
        <!DOCTYPE html>
        <html lang="en">

            <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>Document</title>
                <link rel="stylesheet" href="stylesheets/style.css">
                <script src="https://cdn.tailwindcss.com"></script>
            </head>
            </head>

            <body>


                <div class="w-full h-full p-6 text-white gap-4">

                    <article class="mb-3 text-blue-600">
                        <h3><a href="/read">Read users</a></h3>
                    </article>
                
                    <h1 class="text-3xl text-black font-bold mt-10 mb-10 justify-center items-center ml-[540px]">Create User</h1>                   
                        <form action="/create" method="post">
                            <input class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg ml-[500px]"
                                type="text" placeholder="name" name="name">
                            <input class="px-10 py-3  border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2"
                                type="email" placeholder="email" name="email">
                            <input class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2"
                                type="text" placeholder="imageUrl" name="image">
                            <input class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2 mb-6"
                                type="password" placeholder="password" name="password">

                            <input
                                class="ml-14 px-5 py-3 border-2 bg-green-500 border-none outline-none rounded-lg font-bold text-lg flex ml-[580px] flex-col gap-y-4 mt-2"
                                type="submit" name="submit" name="Submit">
                            </form>
                        </div>
    
            </body>

        </html>

        </div>
    </body>

</html>